[SddmGreeterTheme]
Name=Papyros
Description=Papyros Theme
Author=
Copyright=
License=
Type=sddm-theme
Version=0.1
Website=http://papyros.io/
Screenshot=papyros.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=papyros
Theme-API=2.0
